/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

#tt-headline-2016 { 
    font-family: "Helvetica Bold"; 
    font-size: 14px; 
    letter-spacing: 1px; 
    text-decoration: initial; 
    color: #f27802; 
    text-transform: uppercase; 
    font-weight: bold; 
} 

#tt-headline-2016 img { 
    vertical-align: middle; 
    padding-right: 5px; 
}

#logo {
    max-width: 820px;
}

.hide-sm {
    display: block; //hide fp elements in sm/xs sizes
}

.hp-mid { //center & smallify Who We Are section on homepage
    max-width: 80%;
    display: block;
    margin: auto;
}

#colophon {
	display: block;
	margin: auto;
	//max-width: 900px;
}

.service-desc {
	max-width: 800px;
	display: block;
	margin: auto;
}

.fof-desc {
	max-width: 800px;
	display: block;
	margin: auto;
	padding-bottom:25px;
}

.container {
  margin: 0 auto;
  max-width: 940px;
}

#dwd-services li.hide-sm {
    display: inline-block;
    margin: auto 5px;
}

#dwd-services li.hide-sm + li {
    margin: auto 5px;
}

/*********************
RESPONSIVE FORM STYLES
*********************/

div#ninja_forms_form_1_cont {
    width: 600px;
}

#ninja_forms_field_29_div_wrap {
    margin-top: 5px;
}