/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

#tt-headline-2016 { 
    font-family: "Helvetica Bold"; 
    font-size: 14px; 
    letter-spacing: 1px; 
    text-decoration: initial; 
    color: #f27802; 
    text-transform: uppercase; 
    font-weight: bold; 
} 

#tt-headline-2016 img { 
    vertical-align: middle; 
    padding-right: 5px; 
}

#logo {
    max-width: 80%;
}