/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/*********************
FRONTPAGE TILES
*********************/

#dwd-fp-1-0,
#dwd-fp-2-0,
#dwd-fp-3-0,
#dwd-fp-4-0,
#dwd-fp-6-0 {
    font-family: $slabo;
    font-size: 40px;
    color: #FFF;
    position: absolute;
    top:24%;
    display: none;
}

#dwd-fp-1-0 {
    left: 45px;
}

#dwd-fp-2-0 {
    left: 80px;    
}

#dwd-fp-3-0 {
    left: 80px;    
}

#dwd-fp-4-0 {
    left: 80px;    
}

#dwd-fp-5-0 {
    left: 125px; 
    font-size: 80px;
    top: 5%;
    font-family: $slabo;
    color: #FFF;
    position: absolute;
    display: none;   
}

#dwd-fp-6-0 {
    left: 110px;    
}

/*********************
STICKY FOOTER STYLES
*********************/

html,
body.sticky-footer {
	height: 100%;
	margin: 0;
}

body.sticky-footer {

	#container {
	    display: table;
	    width: 100%;
	}

	#container .header,
	#main-navigation,
	#container .banner-wrap,
	#content,
	#container .footer {
	    display: table-row;
	    height: 1px;
	    overflow: hidden;
	}
}

html>/**/body.sticky-footer #container {
    height: 100%;
}

html>body.sticky-footer #content {
    height: auto;
}

/*********************
SERVICE TEMPLATE STYLES
*********************/

.dwd-speaker {
    margin-left: 60%;
}

.dwd-weddingparty {
    display: block;
    margin: auto;
    padding-bottom: 15px;
}

/*********************
RESPONSIVE FORM STYLES
*********************/

div#ninja_forms_form_1_cont {
    width: 600px;
    margin: auto;
    display: block;
}

#ninja_forms_field_5 {  //submit button
    margin: auto;
}